overlays
dubbo-registry.properties
target/
classes/
.settings/
META-INF/
.idea
.project
.classpath
.mymetadata
*.iml
db-connection.properties
/target
rebel.xml
rebel-remote.xml
.DS_Store
/test-output/
/.tern-project
*.bak
.tgitconfig
tms-view.min.js
logback-test.xml
**/webapp/.tern-project
spy.log
rest-server.properties
**/webapp/orgarchitecture
**/webapp/WEB-INF/lib
**/webapp/static_cache
**/webapp/node_modules
server-conf-*.properties
server-conf.properties
!server-conf-sample.properties
/cp-tms-webapp/src/main/webapp/node_modules
Thumbs.db
node_modules/
npm-debug.log
**/release/*.pack.js
**/release/*.pack.css
**/release/*.min.js
**/release/*.min.css
out/

#这个是wechat、vue、webpack用的
**/sforder/node_modules
# **/sforder/dist
